.tabs__wrapper {
  background-color: var(--white);
}

.tabs__tabs {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  transition: 0.3s linear;
}

.tabs__tabs:hover {
  background-color: var(--blue);
  transition: 0.3s linear;
}

.tabs__active {
  background-color: var(--blue);
}
.tabs__tabs svg {
  transition: 0.3s linear;
}

.tabs__active svg {
  fill: var(--white);
  transform: rotate(180deg);
  transition: 0.3s linear;
}

.tabs__icon {
  padding: 16px 13.5px;
  fill: var(--dark);
}

.tabs__body {
  display: flex;
  height: 100%;
}

.tabs__box {
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.tabs__list {
  display: flex;
  align-self: center;
  position: relative;
  width: 100%;
}

.tabs__item {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: var(--white);
  position: relative;
  transition: 0.3s linear;
  white-space: nowrap;
}

.tabs__item a:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--gray);
  padding: 16px 20px;
  height: 100%;
  transition: 0.3s linear;
}

.tabs__item a:hover {
  color: var(--dark);
  transition: 0.3s linear;
}

.activePath {
  background-color: var(--powder-blue);
  color: var(--dark);
  position: relative;
}

.activePath::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--blue);
  position: absolute;
  top: 0;
  left: 0;
}

.tabs__item svg:last-child {
  margin: 0 0 0 10px;
  display: none;
  fill: var(--tomato);
}

.tabs__item:hover svg:last-child {
  margin-left: 10px;
  display: block;
}

.tabs__item::before {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 1px;
  background-color: var(--light-gray);
  top: 50%;
  right: 0%;
  transform: translateY(-50%) rotate(90deg);
}

.nested-list {
  display: none;
  position: absolute;
  top: 100%;
  z-index: 10;
  left: 0;
  background: var(--white);
  border-radius: 4px;
  border: 1px solid var(--light-gray);
  transform: translateY(50%);
  font-weight: 14px;
}

.nested-list__item {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  padding: 10px 15px 10px 5px;
  color: var(--gray);
}

.tabs__item:hover .nested-list {
  display: block;
}

.tabs__item svg {
  margin-right: 10px;
}

.tabs__box {
  transition: 0.3s linear;
  min-width: 64px;
}

.tabs__box:hover {
  transition: 0.3s linear;
  background-color: var(--powder-blue);
  position: relative;
}

.tabs__box::after {
  content: "";
  transition: 0.3s linear;
}

.tabs__box:hover::after {
  content: "";
  transition: 0.3s linear;
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--dark);
  position: absolute;
  top: 0;
  left: 0;
}

.tabs__popup {
  top: 100%;
  right: 0%;
  background-color: var(--white);
  padding: 0 15px;
}

.tabs__item-popup {
  padding: 15px 0;
  border-bottom: 1px solid var(--gray);
  display: flex;
  font-weight: 14px;
  align-items: center;
  color: var(--gray);
}

.tabs__item-popup:hover {
  color: var(--dark);
}

.tabs__item-popup svg:hover {
  fill: var(--tomato);
}

.button-delete {
  fill: var(--dark) !important;
  transition: 0.3s linear;
}

.button-delete:hover {
  transition: 0.3s linear;
  fill: var(--tomato) !important;
}

.tabs__item-popup:last-child {
  border-bottom: 0px solid var(--gray);
}

.tabs__item-popup p {
  flex: 1 1 auto;
}

.tabs__item-popup svg:first-child {
  margin-right: 10px;
}

.tabs__item-popup svg:last-child {
  margin-left: 10px;
}

.tabs__box-popup {
  top: 100%;
  left: 50%;
  transform: translate(-50%, 0px);
  display: none;
}

.tabs__box:hover .tabs__box-popup {
  display: block;
}

.tabs__box-popup ul {
  background-color: var(--white);
  padding: 15px;
  margin-top: 10px;
}

.tabs__box-popup-item {
  display: flex;
  align-items: center;
}

.tabs__box-popup-item svg {
  margin-right: 10px;
}
